{% load static %}
<div class="navbar bg-light">
    <nav class="container">
        <span class="navbar-brand mb-0 h1">
            <div class="logo d-none d-sm-block">
                <a class="navbar-brand pr-5" style="border-right: 1px solid #a7a3a3;" href='/'>
                    <img src='{% static "img/instar.jpg" %}' height="45" class="d-inline-block align-top" /> Instar
                </a>
            </div>
        </span>
        
        <form class="mb-0 h1 ml-auto mr-auto" action="{%url 'search'%}" method="GET">
            <input name="search_user" autocomplete="off" class="form-control d-none d-md-block" placeholder="Search">
        </form>
        <span class="pull-right mr-5">
            <div>
                {% if user.profile.photo %}
                    <img src="{{user.profile.photo.url }}" height="35"
                        class="d-inline-block align-top rounded-circle" />
                </a>
                {% else %}
                <div>
                    <span>
                        <a href='{%url "userprofile" user.id %}'>Profile</a>
                    </span>
                </div>
                {% endif %}
            </div>
        </span>
        <span class="pull-right mr-5">
            <ul class="navbar-nav px-3">
                <li class="nav-item text-nowrap">
                    <a class="nav-link" href="{%url 'logout'%}" style="color: #333;">Log Out</a>
                </li>
            </ul>
        </span>
    </nav>
</div>

<div>

</div>