{% extends 'instar/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">

            {%for post in posts%}
            <div class="card-body" style="display: flex;">
                <img src="{{user.profile.photo.url }}" alt="profile pic" style="border-radius: 60%;" width="40" height="40"
                    class="img-fluid">
                <a href="{%url 'profile' post.profile.id%}" style="color: #333;">
                    <h5 class="card-title" style="padding-top: 10px; margin-left:10px">
                        {{post.profile.user.username}}
                    </h5>
                </a>
            </div>
            <a href="{%url 'post' post.id %}">
                <img src="{{post.image.url}}" alt="image" class="img-fluid">
            </a>
            {%endfor%}


        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>

{%endblock%}