{% extends 'instar/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <div class="row">
                <button class="btn btn-sm btn-primary ml-4 mb-3" data-toggle="modal" data-target="#imageUpload">
                    Upload Image
                </button>
                <div class="modal fade" id="imageUpload" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Image Upload</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="" method="post" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    {{ post_form|crispy }}
                                    <button class="btn btn-sm btn-success">Upload</button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
                                        Close
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">

                    {%for post in posts%}
                    <div class="card-body mt-20" style="align-items: center;" style="display: flex;">
                        <img src="{{user.profile.photo.url }}" alt="profile pic" style="border-radius: 60%;" width="40"
                            height="40" class="img-fluid">
                        <a href="{%url 'profile' post.profile.id%}" style="color: #333;">
                            <h5 class="card-title" style="padding-top: 10px; margin-left:10px">
                                {{post.profile.user.username}}
                            </h5>
                        </a>
                    </div>
                    <a href="{%url 'post' post.id %}">
                        <img src="{{post.image.url}}" alt="image" class="img-fluid" style="width: 100%; height: 20%;">
                    </a>
                    <div class="card-body">
                        <a href="{%url 'like' post.id%}">
                            <i class="far fa-heart fa-lg" style="font-size: 30px; margin-right:10px; color:#d82626"></i>
                        </a>
                    </div>
                    <p class="card-text ml-4" style="font-weight: bolder;">{{post.likes}} likes</p>
                    {%endfor%}


                </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>

        {%endblock%}